
.help-section {
    padding: 70px 20px;
    background-color: #f9f9f9; 
    text-align: center;
}

.container-help {
    max-width: 1100px;
    margin: 0 auto;
}


.help-title {
    font-size: 34px;
    font-weight: 700;
    color: #333;
    margin-bottom: 15px;
}

.help-subtitle {
    font-size: 15px;
    color: #777;
    font-style: italic;
    margin-bottom: 50px;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.6;
}

.help-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    max-width: 800px; 
    margin: 0 auto;  
    column-gap: 20px; 
    row-gap: 30px;    
    text-align: left; 
}

.help-item {
    display: flex;
    align-items: center;
    padding-left: 20px; 
}


.help-item i {
    font-size: 20px; 
    color: #ccc; 
    margin-right: 12px;
    width: 25px; 
    text-align: center;
    transition: color 0.3s ease;
}


.help-item span {
    font-size: 15px;
    font-weight: 600; 
    color: #444;
}


.help-item:hover i {
    color: #d4145a; 
}
