
.projects-section {
    padding: 80px 20px;
    background-color: #ffffff; 
    text-align: center;
}

.container-projects { max-width: 1200px; margin: 0 auto; }
.projects-section .section-title { margin-bottom: 20px; }
.projects-section .section-subtitle { margin-bottom: 60px; color: #666; }


.slider-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}


.slider-arrow {
    font-size: 24px;
    color: #ccc;
    cursor: pointer;
    padding: 10px;
}


.cards-grid {
    display: flex;
    gap: 30px;
    justify-content: center;
}



.project-card {
    background-color: #f9f9f9; 
    padding: 20px; 
    width: 300px;
    text-align: center;
    border: none; 
    transition: none;
}


.project-card:hover {
    transform: none;
    box-shadow: none;
}


.image-box {
    width: 100%;
    height: 180px;
    margin-bottom: 20px;
    overflow: hidden;
}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.project-title {
    font-size: 18px;
    font-weight: 700;
    color: #333; 
    margin-bottom: 5px;
    transition: all 0.3s ease;
}


.project-card:hover .project-title {
    background: linear-gradient(90deg, #aa0ec6 0%, #ff5240 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


.project-category {
    font-size: 13px;
    color: #999;
    font-weight: 400;
}

