
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif; 
    background-color: #f4f4f4;
}


header {
    background-color: white;
    height: 120px; 
    width: 100%;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.container {
    max-width: 90%;  
    margin: 0 auto;
    height: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
    max-height: 35px; 
    width: auto;
    align-self: center;
    margin-left: 40px; 
}


nav {
    height: 100%;
}

nav ul {
    display: flex;
    list-style: none;
    height: 100%;
    margin: 0;
    padding: 0;
}

nav ul li {
    height: 100%;
    display: flex;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: #2b2b2b; 
    font-weight: 600; 
    font-size: 18px;  
    padding: 0 22px;  
    display: flex;
    align-items: center;
    height: 100%;
    white-space: nowrap;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #d4145a;
}


nav ul li:first-child a {
    background: linear-gradient(180deg, #9c00b8 0%, #e32929 100%);
    
    color: white;
    font-weight: 700; 
    font-size: 18px; 
    padding: 0 15px;
}


nav ul li:first-child a:hover {
    opacity: 0.9;
    color: white;
}