
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f4;
    padding-top: 80px; 
}

header {
    background-color: white;
    height: 80px; 
    width: 100%;
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 1000; 

    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}


.container {
    max-width: 1100px; 
    margin: 0 auto;    
    height: 100%;
    padding: 0 20px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
    max-height: 35px;
    width: auto;
}


nav { height: 100%; }

nav ul {
    display: flex;
    list-style: none;
    height: 100%;
    margin: 0;
    padding: 0;
}

nav ul li {
    height: 100%;
    display: flex;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: #444; 
    font-weight: 700;
    font-size: 13px;  
    padding: 0 15px;
    height: 100%;
    display: flex;
    align-items: center; 
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #d4145a;
}


nav ul li:first-child a {
    background: linear-gradient(180deg, #9c00b8 0%, #e32929 100%);
    color: white;
    padding: 0 25px; 
}

nav ul li:first-child a:hover {
    opacity: 0.9;
    color: white;
}